.cardStyle {
  width: 18rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #ccc;
  margin: 15px;
  padding: 10px;
  text-align: center;
}

.cardStyle:hover {
  box-shadow: 1px 10px 15px grey ;
  transform: scale(1.05);
}

.cart {
  position: relative;
}

.cart-item-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
}

.product-price {
  font-size: 1.5rem;

}

.product-name {
  font-size: 1.5rem;
}

.btn-clicked {
  animation: btn-clicked-animation 0.5s;
  background-color: transparent;
  position: relative;
  overflow: hidden;
}

.btn-clicked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: green;
  animation: btn-clicked-color-animation 0.5s;
}

@keyframes btn-clicked-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes btn-clicked-color-animation {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0.2;
  }
}